<p id= "notice"> </p>
<%= flash[:notice] %>

<h2>User info</h2>
<div>
<%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
<p><%= current_user.name %></p>
<p><%= current_user.introduction %></p>
<% if user.id == current_user.id %>
 <p><%= link_to "profile edit", edit_user_path(user), class: "pull-right" %></p>
 <% end %>
</div>

<h2>New book</h2>
<div>
<% if book.errors.any? %>
  <p><%= book.errors.count %> error prohibited this book form being saved:</p>
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>

    <% end %>
  </ul>
<% end %>
</div>


<!-- form_for -->
<%= form_for(book) do |f| %>


    <p><%= f.label :title %></p>
    <p><%= f.text_field :title %></p>


    <p><%= f.label :body %></p>
    <p><%= f.text_area :body %></p>

  <p><%= f.submit 'Create Book' %></p>

<% end %>
  </ul>
</div>